@page
@model Proiect.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Player.ID" />
            <div class="form-group">
                <label asp-for="Player.FirstName" class="control-label"></label>
                <input asp-for="Player.FirstName" class="form-control" />
                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.LastName" class="control-label"></label>
                <input asp-for="Player.LastName" class="form-control" />
                <span asp-validation-for="Player.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Nationality" class="control-label"></label>
                <input asp-for="Player.Nationality" class="form-control" />
                <span asp-validation-for="Player.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.MarketValue" class="control-label"></label>
                <input asp-for="Player.MarketValue" class="form-control" />
                <span asp-validation-for="Player.MarketValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Age" class="control-label"></label>
                <input asp-for="Player.Age" class="form-control" />
                <span asp-validation-for="Player.Age" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.ClubID" class="control-label">Club Name</label>
                <select asp-for="Player.ClubID" class="form-control" asp-items="ViewBag.ClubID"></select>
                <span asp-validation-for="Player.ClubID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
